@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

body {
    background-color: #80558C;
    font-family: 'Ubuntu', sans-serif;;
}
#sentence-collection {
    border-radius: 20px;
    margin: 3rem auto;
    padding-bottom: 1rem;
    width: 70%;
    background-color: #AF7AB3;
}
h2 {
    background-color: #CBA0AE;
    color: black;

    width: fit-content;
    height: 2rem;

    margin: 0 auto -20px auto;
    padding: 1rem;
    border-radius: 10px;
    position: relative;
    bottom: 2rem;
}
div.sentence {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 90%;
    margin: 0.7rem auto;
    padding: 0.5rem 0;
    border-radius: 10px;

    font-size: 1.2rem;
    background-color: #fff;
}
div button {
    display: inline-block;
    min-width: 5rem;
    height: 2rem;

    border-radius: 10px;
    color: black;
    background-color: #E4D192;
    margin-right: 1rem;
}
div p {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 1rem;
}
#load-more {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    user-select: none;
}

div.eng {
    display: none;
}